# Server
uvicorn>=0.32.0,<1.0.0

# Database
aiomysql>=0.3.0,<1.0.0
motor>=3.6.0,<4.0.0
pymongo>=4.9.2,<5.0.0
redis>=5.2.1,<6.0.0

# Security
cryptography>=46.0.6,<47.0.0
bcrypt>=4.3.0,<5.0.0

# Utils/Tasks
python-multipart>=0.0.22,<1.0.0
celery>=5.5.3,<6.0.0
requests>=2.33.0,<3.0.0